.jumbo {
    height: 170px;
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.3) !important;
}

.contact-text {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

@media only screen and (max-width: 991px) {

    .contact-text {
        font-size: 18px;
    }

}

@media only screen and (max-width: 575px) {

    .contact-text {
        font-size: 16px;
    }

}

@media only screen and (max-width: 385px) {

    .contact-text {
        font-size: 14px;
    }

}