.team-header {
    font-family: 'Roboto Slab', serif;  
}

.team-intro {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}

.team-name {
    font-family: 'Roboto Slab', serif;
    margin-top: 20px;
    margin-left: -30px;
}

.team-title {
    font-family: 'Roboto Slab', serif;
    margin-left: -30px;
}

.team-text {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}