.navbar-brand {
    height: 50px;
    width: 100px;
}

.navbar {
    background-color: rgba(0,0,0,0.5);
}

#navigationBar .nav a {
    text-transform: uppercase;
}

#navigationBar .nav a:focus {
    color: #f8feba;
}

#navigationBar .nav a:hover {
    color: #f8feba;
    text-decoration: none;
}

.light-mode {
    background-color: #fff;
    color: #333;
  }
  
  .dark-mode {
    background-color: #1A1919;
    color: #999;
  }