.slider {
    background: #16262D;
    padding: 100px 0;
    position: relative;
}

.image-area {
    /* width: 100px; */
    height: 215px;
    /* margin: auto; */
    /* border: 2px solid #fff;
    border-radius: 50%; */
    /* overflow: hidden; */
    /* position: center; */
    visibility: hidden;
}

.image-area img {
    width: 100%;
}

.carousel-caption {
    width: 70%;
    height: 100%;
    position: static;
    padding-bottom: 150px;
    padding-top: 0;
}

.carousel-indicators {
    visibility: hidden;
}

/* .carousel-caption h3 {
    font-size: 26px;
    margin-bottom: 15px;
    margin-top: 25px;
} */

/* .carousel-caption p {
    font-size: 18px;
    margin: auto;
    width: 70px;
    margin-bottom: 10px;
} */
