.slider {
    background: #16262D;
    padding: 100px 0;
    position: relative;
    
}

.image-area {
    height: 275px;
    visibility: hidden;
}

.image-area img {
    width: 100%;
}

.carousel-caption {
    width: 70%;
    height: 100%;
    position: static;
    padding-bottom: 150px;
    padding-top: 0;
}

.carousel-indicators {
    visibility: hidden;
}

.testimonial-text {
    font-family: 'Roboto', sans-serif;
}
