#jumbo {
    background-image: url(../../img/header/landing-bg.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#more-button {
    border-radius: 18px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: #4A26AB;
    font-family: "Garamond";
    font-size: 18px;
    outline: none;
    border: none;
}

#contact-button {
    border-radius: 18px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    border-color: #B8E7EA;
    border-width: 2px;
    background-color: rgba(0, 0, 0, 0);
    font-family: "Garamond";
    font-size: 18px;
}

.main-header {
    font-size: 70px;
    margin-top: 150px;
    color: #F5F5F5;
    font-family: "Garamond";
    text-shadow: 2px 2px black;
}

.sub-header {
    font-size: 30px;
    color: #B8E7EA;
    font-family: "Garamond";
    text-shadow: 2px 2px black;
}