#jumbo {
    background-image: url(../../img/header/background-illustration-02.png), url(../../img/header/124336571_1065408367245748_4095250669438414830_n.png);
    height: 93vh;
    width: 100%;
    background-size: 750px, cover;
    background-position: bottom 50px right 100px, bottom;
    background-repeat: no-repeat, no-repeat;
    margin-top: 65px;
}

#more-button {
    border-radius: 18px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: #4A26AB;
    font-family: "Garamond";
    font-size: 18px;
    outline: none;
    border: none;
    margin-left: 60px;
}

#contact-button {
    border-radius: 18px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    border-color: #B8E7EA;
    border-width: 2px;
    background-color: rgba(0, 0, 0, 0);
    font-family: "Garamond";
    font-size: 18px;
    margin-left: 30px;
}

.main-header {
    font-size: 65px;
    margin-top: 50px;
    color: #F5F5F5;
    font-family: "Garamond";
    text-shadow: 2px 2px black;
}

.sub-header {
    font-size: 30px;
    color: #B8E7EA;
    font-family: "Garamond";
    text-shadow: 2px 2px black;
}

/* ----------------screen at 1250px---------------- */

@media only screen and (max-width: 1250px) {

    #jumbo {
        background-image: url(../../img/header/background-illustration-02.png), url(../../img/header/124336571_1065408367245748_4095250669438414830_n.png);
        background-repeat: no-repeat , no-repeat;
        background-size: 700px, cover;
    }

    .main-header {
      font-size: 55px;
    }
    
    .sub-header {
      font-size: 25px;
    }
  
}

/* ----------------screen at 1100px---------------- */

@media only screen and (max-width: 1100px) {

    #jumbo {
        background-position: top, bottom;
        background-size: 520px, cover;
    }

    .main-header {
      font-size: 45px;
      margin-top: 330px;
      display: flex;
      justify-content: center;
    }
    
    .sub-header {
      font-size: 22px;
      display: flex;
      justify-content: center;
    }

    .button-container {
        display: flex;
        justify-content: center;
    }

    #more-button {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        margin-top: -30px;
    }

    #contact-button {
        width: 96%;
        position: absolute;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }
  
}

/* ----------------screen at 767px---------------- */
  
@media only screen and (max-width: 767px) {

    #jumbo {
        background-size: 500px, cover;
    }
    
    .main-header {
        font-size: 40px;
        margin-top: 320px;
    }

    .sub-header {
        font-size: 20px;
    }
  
}

/* ----------------screen at 580px---------------- */

@media screen and (max-width: 580px) {

    #jumbo {
        background-size: 480px, cover;
    }

    .main-header {
        font-size: 35px;
        margin-top: 350px;
    }

    .sub-header {
        font-size: 17px;
    }
    
}

/* ----------------screen at 479px---------------- */

@media screen and (max-width: 479px) {

    #jumbo {
        background-size: 450px, cover;
    }

    .main-header {
        font-size: 30px;
    }

    .sub-header {
        font-size: 15px;
    }
    
}

/* ----------------screen at 380px---------------- */

@media screen and (max-width: 380px) {

    #jumbo {
        background-size: 430px, cover;
    }

    .main-header {
        font-size: 28px;
    }

    .sub-header {
        font-size: 14px;
    }
    
}