#jumbo {
    background-image: url(../../img/header/landing-bg.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#btn {
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: #4A26AB;
    border: none;
    outline:none;
    font-family: "Garamond";
}

#headings {
    font-family: "Garamond";
    color: #B8E7EA;
    margin-top: 150px;
}

/* #paragraph {
    color: #555;
    font-family: "Garamond";
} */