.footer {
  min-height: 170px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 40px;
  isolation: isolate;
}


/* .footer .footer-links a:focus {
    border: none;
    outline: none;
} */

.footer .nav a {
  color: lightgrey;
  font-weight: 300;
  text-transform: uppercase;
}

.footer .nav a:hover {
  color: #f8feba;
  text-decoration: none;
}

.nav a {
  padding-right: 0;
}

.copyright {
  color: black;
}