.footer {
  min-height: 170px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 50px;
  isolation: isolate;
  margin-top: 285px;
}

.footer-links {
  color: #F5F5F5;
}

.footer-links:hover {
  color: #00009C;
  text-decoration: none;
}

.copyright {
  font-size: 20px;
}