* {
  margin: 0;
  padding: 0;
}

#separator {
  line-height: 160px;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

.dark-mode {
  background-color: #1A1919;
  color: #999;
}

.services-header {
  font-family: 'Roboto Slab', serif;
}

#card {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.card-title {
  font-family: 'Roboto Slab', serif;
}

.line {
  color: #B8E7EA;
  margin-top: -15px;
}