* {
  margin: 0;
  padding: 0;
}

#separator {
  line-height: 160px;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

.dark-mode {
  background-color: #1A1919;
  color: #999;
}

.services-header {
  font-family: 'Roboto', sans-serif;
}

#card {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.card-title {
  font-family: 'Roboto', sans-serif;
}

.line {
  color: #B8E7EA;
  margin-top: -15px;
}

.card-text {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 1199px) {

  #card {
    width: 120%;
  }

}

@media only screen and (max-width: 1026px) {

  #card {
    width: 113%;
  }

}

@media only screen and (max-width: 991px) {

  #card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .card-text {
    font-size: 15px;
  }

}

@media only screen and (max-width: 767px) {

  #card {
    width: 83%;
  }

}

@media only screen and (max-width: 575px) {

  .card-text {
    font-size: 13px;
  }

}