.main-section {
  height: 100vh;
  background-color: blue;
}

.about-section {
  height: 100vh;
  background-color: purple;
}

.contact-section {
  height: 100vh;
  background-color: red;
}

.services-section {
  height: 100vh;
  background-color: green;
}